@import "reset.scss";
@import "breakpoints.scss";
@import "headings.scss";
@import "variables.scss";

@mixin rating-svg($svgPath) {
  background: url($svgPath) no-repeat;
  background-size: 38px;
  background-position-y: 4px;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $background-color;
}

main {
  margin: 24px;
}

.movie-card {
  padding: 24px;
  background: #33324d;
  border-radius: 24px;
  margin: 20px 0px;
  height: 100%;
  @include for-tablet-portrait-up {
    min-height: 380px;
    margin: 64px;
  }

  .right-panel {
    font-weight: 600;
    line-height: 24px;
    @include for-tablet-portrait-up {
      margin: 0px 10px 0px 10px;
    }

    .title {
      margin-top: 16px;
      @include for-tablet-portrait-up {
        margin-top: 0px;
        display: inline;
        padding-right: 10px;
      }
    }

    .classification {
      font-size: 16px;
      font-weight: normal;
      color: #dbdafb;
      margin-top: 15px;
      @include for-tablet-portrait-up {
        margin-top: 0px;
        display: inline;
      }

      .length {
        margin-left: 10px;
        @include for-tablet-portrait-up {
          margin-left: 0px;
        }
      }

      .rating {
        height: 38px;
        width: 38px;
        display: inline-block;

        @include for-tablet-portrait-up {
          margin-top: 12px;
          margin-right: 10px;
        }

        &.rU {
          @include rating-svg("/U.svg");
        }

        &.rPG {
          @include rating-svg("/PG.svg");
        }

        &.r12A {
          @include rating-svg("/12A.svg");
        }

        &.r12 {
          @include rating-svg("/12.svg");
        }

        &.r15 {
          @include rating-svg("/15.svg");
        }

        &.r18 {
          @include rating-svg("/18.svg");
        }

        &.rTBC {
          @include rating-svg("/TBC.svg");
        }
      }
    }
  }

  a {
    color: #dbdafb;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 32px;
    padding: 4px 12px;
    text-decoration: none;
    border: 2px solid $secondary-color;
    display: inline-block;

    &:active,
    &:hover {
      background-color: $secondary-color;
    }
  }

  .left-panel {
    @include for-tablet-portrait-up {
      float: left;
      margin-right: 32px;
    }
  }

  .categories {
    padding: 0;
    margin-top: 27px;

    li {
      display: inline-block;
      list-style-type: none;
      text-transform: uppercase;
      border-radius: 5px;
      padding: 2px 5px;
      text-decoration: none;
      border: 2px solid $secondary-color;
      margin-right: 10px;
      line-height: 16px;
      font-size: 12px;
      color: #dbdafb;
    }
  }

  .synopsis {
    margin-top: 26px;
    font-size: 14px;
    font-weight: normal;
  }
}

.react-tabs__tab-list {
  list-style-type: none;
  margin-top: 28px;
  overflow-x: auto;
  white-space: nowrap;
  li {
    display: table-cell;
    padding: 0px 15px 5px 15px;
  }
}

.react-tabs {
  margin-top: 15px;
}

.react-tabs__tab-panel--selected {
  margin-top: 28px;
}

.react-tabs__tab {
  color: #a5a3ea;

  &.react-tabs__tab--selected {
    border-bottom: 4px solid $secondary-color;
    color: #dbdafb;
  }
}
