@import "reset.scss";
@import "breakpoints.scss";
@import "headings.scss";
@import "variables.scss";


body {
  font: 100% $font-stack;
  color: $primary-color;
  background-color: $background-color;
}

main {
  margin: 24px;
}

.movie-card {
  padding: 24px;
  background: #33324d;
  border-radius: 24px;
  margin: 20px 0px;
  height: 100%;
  @include for-tablet-portrait-up {
    min-height: 380px;
    padding: 48px;
  }


  div {
    font-weight: 600;
    line-height: 24px;
    @include for-tablet-portrait-up {
      margin: 28px 10px 0px 10px;
    }

    .title {
      margin-top: 16px;
    }

    .classification {
      font-size: 16px;
      font-weight: normal;
      color: #dbdafb;
      margin-top: 15px;


      .length {
        margin-left: 10px;
        vertical-align: super;
      }

      .rating {
        height: 38px;
        width: 38px;
        display: inline-block;

        &.rU {
          background: url(/u.svg) no-repeat;
          background-size: 38px;
        }

        &.rPG {
          background: url(/pg.svg) no-repeat;
          background-size: 38px;
        }

        &.r12A {
          background: url(/12A.svg) no-repeat;
          background-size: 38px;
        }

        &.r12 {
          background: url(/12.svg) no-repeat;
          background-size: 38px;
        }

        &.r15 {
          background: url(/15.svg) no-repeat;
          background-size: 38px;       
        }

        &.r18 {
          background: url(/18.svg) no-repeat;
          background-size: 38px;     
        }

        &.rTBC {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          display: inline-block;
          padding: 2px 3px 2px 0px;
          border: 2px solid #fff;
          font-size: 18px;
          text-align: center;
          line-height: 28px;
          letter-spacing: -0.1em;
          color: #fff;
          background-color: #000; 
          content: "TBC";
          
          &::after {
            content: "TBC";
        }
          
        }
       
      }

    }
  }

  a {
    color: #dbdafb;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 32px;
    padding: 4px 12px;
    text-decoration: none;
    border: 2px solid $secondary-color;
    display: inline-block;

    &:active,
    &:hover {
      background-color: $secondary-color;
    }
  }

  .left-panel {
    @include for-tablet-portrait-up {
      float: left;
    }
  }

  .categories {
    padding: 0;
    margin-top: 27px;

    li {
      display: inline-block;
      list-style-type: none;
      text-transform: uppercase;
      border-radius: 5px;
      padding: 2px 5px;
      text-decoration: none;
      border: 2px solid $secondary-color;
      margin-right: 10px;
      line-height: 16px;
      font-size: 12px;
      color: #dbdafb;
    }
  }

  .synopsis {
    margin-top: 26px;
    font-size: 14px;
    font-weight: normal;
  }
}

.react-tabs__tab-list {
  list-style-type: none;
  margin-top: 28px;
  overflow-x: auto;
  white-space: nowrap;
  li {
    display: table-cell;
    padding: 0px 15px 5px 15px;
  }
}

.react-tabs {
  margin-top: 15px;
}

.react-tabs__tab-panel--selected {
  margin-top: 28px;
}

.react-tabs__tab {
  color: #a5a3ea;

  &.react-tabs__tab--selected {
    border-bottom: 4px solid $secondary-color;
    color: #dbdafb;
  }
}

